<div class="card border-info mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">{{blog_title}}</h4>
        <p class="card-text"> {{description}} </p>
    </div>