<div class="d-flex flex-row-a"></div>
<div class="card border-info mb-3">
    <div class="card-header d-flex justify-content-between">{{blog_title}} <small> {{ user.username}} Created:
            {{format_date date_created}} </small></div>
    <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text"> {{description}} </p>

    </div>
</div>


<div class="form-group">
    <label class="col-form-label mt-4" for="inputDefault">Comment</label>
    <input type="text" class="form-control" placeholder="Add comment" id="inputDefault">
    <button type="button" class="btn btn-primary">Submit</button>
</div>