header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
body {
  font-family: roboto;
}
p {
  font-size: 18px;
  font-family: roboto;
}

h3,
h4 {
  font-family: Roboto;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.comments {
  border: solid 1px rgba(255, 255, 255, 0.247);
}

.comment {
  margin: 5px 15px;
}
